<<<<<<< Updated upstream
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <%= simple_form_for @tender do |f| %>

    <div class="form-inputs">
      <%= f.input :tender_name,
                  required: true %>
=======

<!-- new -->
<div class="drinks-index-banner">
  <h2>Create a tender</h2>
</div>


<div class="page-wrapper bg-gra-01 p-t-180 p-b-100">

<div class="wrapper">
  <div class="card-3 row">
    <div class="first-header">
      <img src="https://pedrinospritz.com/wp-content/uploads/2020/09/Mobile-Hero-750-x-750-2.jpg" alt="">
>>>>>>> Stashed changes
    </div>

    <div class="form-inputs">
      <%= f.input :start_date,
                required: true,
                html5: true %>
    </div>

    <div class="form-inputs">
      <%= f.input :close_date,
                required: true,
                html5: true %>
    </div>

<<<<<<< Updated upstream
    <div class="form-inputs">
      <%= f.label :description,
                      label: "Tender description" %>
      <%= f.rich_text_area :description,
                            required: true %>
    </div>

    <div class="form-inputs">
      <%= f.input :volume,
                  required: true %>
    </div>
=======
      <div class="form-inputs">
        <%= f.input :description,
                              required: true, class: 'form-box' %>
      </div>

      <label class="btn btn-primary">
        Add a file!
        <span style="display:none;">
          <%= f.file_field :image, required: true, multiple: true, name: 'picture' %>
        </span>
      </label>


      <div class="form-inputs">
        <%= f.input :volume,
                    required: true %>
      </div>
>>>>>>> Stashed changes

    <div class="form-inputs">
      <%= f.input :minimum_bid,
                label: "Minimum bid in £s",
                as: :integer  %>
    </div>

    <%= f.input :drink_id,
                :as => :select,
                :collection => Drink.all.map { |a| [a.type, {:name => a.type}] },
                as: :radio_buttons %>

<<<<<<< Updated upstream
    <div class="form-inputs">
      <%= f.input :tender_auction_expiry,
                required: true,
                html5: true %>
    </div>
=======
      <div class="form-actions">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
>>>>>>> Stashed changes

    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-ghost" %>
    </div>

  <% end %>
</div>
