<div class="products-index-banner">
    <h2>View Tender</h2>
</div>

<div class="tender-show-container">
  <div class="tender-info">
    <h1> <%= @tender.tender_name %> </h1>
    <p>Start Date: <%= @tender.start_date %></p>
    <p>Close Date: <%= @tender.close_date %></p>
    <p>Volume: <%= @tender.volume %></p>
    <p>Minimum Bid: <%= @tender.minimum_bid %></p>
  </div>
    <div class="tender-pic">
      <img src="https://images.unsplash.com/photo-1591667817588-57eca58b23c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
    </div>
  </div>
</div>


<h1> <%= @tender.tender_name %> </h1>

<%= link_to "Make a bid!", new_tender_bid_path(@tender), class: "btn btn-dark" %>


<% if @bids.exists? %>
  <div class="container">
    <!-- Code your tabs here -->
    <div class="tabs">
      <a href="" class="tab active">Bids</a>
      <a href="" class="tab">Messages</a>
    </div>

    <% @bids.each do |bid| %>
      <div class="notifications">
        <div class="notification">
          <%= cl_image_tag bid.user.photo.key, class: "avatar-large" %>
          <div class="notification-content">
            <p><small> <%= bid.created_at.strftime("%A %B %e %Y") %> </small></p>
            <p> <%= bid.user.company %> submitted a bid of £<%= bid.offer_price %></p>
            <p> <%= bid.offer_add_ons %></p>
            <p><%= link_to "Check out bid", bid_path(bid) %> </p>
          </div>

          <div class="notification-actions">
            <a href="#">Mark as seen <i class="fas fa-check"></i></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No bids yet!</p>
<% end %>
