<h2>aeeeeeeeeeeeeeeeeeeeeeeeee</h2>
<h2>aeeeeeeeeeeeeeeeeeeeeeeeee</h2>

<h2>aeeeeeeeeeeeeeeeeeeeeeeeee</h2>

<h2>aeeeeeeeeeeeeeeeeeeeeeeeee</h2>

<h2>aeeeeeeeeeeeeeeeeeeeeeeeee</h2>


<%= simple_form_for @product do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :portion %>
  <%= f.input :drink_id, :as => :select, :collection => Drink.all %>
  <%= f.button :submit %>
<% end %>